# Read a res1d file

In [1]:
from mikeio.res1d import Res1D

In [2]:
file_path = "../tests/testdata/Exam6Base.res1d"

In [3]:
df = Res1D.read_to_dataframe(file_path)

In [4]:
df.head()

,WaterLevel:1,WaterLevel:2,WaterLevel:3,WaterLevel:4,WaterLevel:5,WaterLevel:6,WaterLevel:7,WaterLevel:8,WaterLevel:9,WaterLevel:10,...,Discharge:99l1,WaterLevel:9l1:0,WaterLevel:9l1:1,Discharge:9l1,WaterLevel:Weir:119w1:0,WaterLevel:Weir:119w1:1,Discharge:Weir:119w1,WaterLevel:Pump:115p1:0,WaterLevel:Pump:115p1:1,Discharge:Pump:115p1
1994-08-07 16:35:00,195.053,195.8215,195.8815,193.605,193.615,193.6250,193.6750,193.7650,193.7750,193.805,...,0.000002,193.7750,193.7650,0.000031,193.5500,188.48,0.0,193.3050,195.005,0.0
1994-08-07 16:36:01,195.053,195.8217,195.8815,193.605,193.615,193.6253,193.6751,193.7651,193.7751,193.805,...,0.000002,193.7751,193.7651,0.000031,193.5500,188.48,0.0,193.3061,195.005,0.0
1994-08-07 16:37:07,195.053,195.8216,195.8815,193.605,193.615,193.6257,193.6754,193.7651,193.7755,193.805,...,0.000002,193.7754,193.7651,0.000033,193.5500,188.48,0.0,193.3071,195.005,0.0
1994-08-07 16:38:55,195.053,195.8215,195.8815,193.605,193.615,193.6262,193.6758,193.7652,193.7761,193.805,...,0.000002,193.7759,193.7652,0.000037,193.5501,188.48,0.0,193.3089,195.005,0.0
1994-08-07 16:39:55,195.053,195.8215,195.8815,193.605,193.615,193.6266,193.6759,193.7653,193.7764,193.805,...,0.000002,193.7762,193.7653,0.000039,193.5501,188.48,0.0,193.3099,195.005,0.0

In [ ]:
# TODO query all water level data

In [5]:
# df[['WaterLevel:100l1:0','WaterLevel:100l1:1']].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
# read a specific reach
# query2 = res1d.QueryData('WaterLevel', '103l1')

# read a specific reach and chainage
# query3 = res1d.QueryData('WaterLevel', reach_name ='101l1', chainage=66.436)

# combine queries
# queries = [query2, query3]

In [ ]:
# df = res1d.read(filename, queries)

# df.head()

In [ ]:
# df.plot()